# Arquivos e pastas a ignorar

# Dependências
node_modules/
package-lock.json
package.json
yarn.lock

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Compilação/Build
dist/
build/
*.min.js
*.min.css

# Logs
*.log
npm-debug.log*

# Arquivos temporários
.temp/
temp/
*.tmp
docs/
